@import "../sass/config";

@import "../sass/mixins";
@import "../sass/components/normalize";
@import "../sass/components/grid";
@import "../sass/components/typography";
//@import "../sass/components/code";
@import "../sass/components/buttons";
//@import "../sass/components/forms";
@import "../sass/components/svg";
@import "../sass/components/tables";
// @import "../sass/components/iconfonts";

// @import "../sass/addins/drop-basic";
@import "../sass/addins/astro";

@import "../sass/components/overrides";
@import "../sass/components/print";

h1, h2, h3 {
  color: #DE7209;
}
h2 small {
  color: $color-gray-dark;
}

a {
  transition: all 0.3s linear;
  margin: -.25em; padding: .25em;
}

#hours, #contact {
  background-color: #f7f7f5;
}
#contact {
  background-color: #ededed;
}

.row {
  // background-color: rgb(255,255,255);
  // background-color: rgba(255,255,255, .85);
  // border-radius: 20px;
}

.site-header, section {
  border-bottom: 1px solid #e5e5e5;
}
section {
  padding: 1em 0;
}
.logo-navbar {
  background: url(../img/logo.png) 0 0 #fff;
  height: 75px;
  width: 300px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
}

.site-header .nav-menu-navbar {
  margin-top: -.55em;
  //margin-bottom: 1.25em;
}

.gravatar {
  max-width: 300px;
  margin: 1em auto;
}

.gravatar img {
  // border-radius: 50%;
  border: 1px solid #e5e5e5;
  background-color: #efefef;
}

.gravatar figcaption {
  text-align: center;
  color: #999999;
}

.intro {
    font-size: 2em;
    max-width: 500px;
}

.site-footer {
    margin-bottom: 2em;
}

.consulting-hours {
  background-color: rgba(247, 247, 245, .75);
}
.consulting-hours th {
  font-family: $font-secondary;
}

.btn {
  border-radius: .25em;
  margin: .5em 0;
  border-color: currentColor;
}
#share .btn {
  font-size: 1.2em;
}
.btn:hover {
  border-color: currentColor;
}
#contact .btn {
  margin-right: .75em;
}
.btn-tweet {
    background-color: #41b7d8;
}
.btn-tweet:hover {
    background-color: darken(#41b7d8,10%);
}
.btn-facebook {
    background-color: #3b5997;
}
.btn-facebook:hover {
    background-color: darken(#3b5997,10%);
}
.btn-google {
    background-color: #d64937;
}
.btn-google:hover {
    background-color: darken(#d64937,10%);
}
.btn-linkedin {
    background-color: #0073b2;
}
.btn-linkedin:hover {
    background-color: darken(#0073b2,10%);
}
@media screen and (min-width: 40em) {

  .consulting-hours {
    max-width: 40em;
  }
  .intro {

  }

  .gravatar {
    margin: 0 0;
  }

  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  #banner {
    background: url(../img/heart-rate-1375324_640.png) center center repeat-x #ffffff;
    background-size: 160px 120px;
  }
  #hours {
    background: url(../img/blood-pressure-1006790__180.png) center right no-repeat #f7f7f5;
  }
  #contact {
    background: url(../img/stethoscope-448614_640.png) bottom right no-repeat #ededed;
  }

  #contact .vcard {
    background-color: rgba(237, 237, 237, .75);
  }
}
